
<ion-view class="shopList" hide-nav-bar="true" hide-tabs>
    <ion-header-bar align-title="left" class="bar-stable">
        <button class="button button-clear  icon-left ion-chevron-left" style="color:rgba(68, 68, 68, 0.6)" ng-click="itemBack()"></button>
        <h1 class="title">{{title}}</h1>
        <!-- <div class="search-box">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="text" placeholder="输入商家、品类">
        </div> -->
    </ion-header-bar>
    <ion-header-bar class="bar-subheader">
        <div class="button-bar">
            <a class="button button-clear icon-right ion-android-arrow-dropdown" ng-click="openPopoverProList.show($event)">{{selected.type}}</a>
            <a class="button button-clear icon-right ion-android-arrow-dropdown" ng-click="openPopoverNearby.show($event)">{{selected.nearby}}</a>
            <a class="button button-clear icon-right ion-android-arrow-dropdown" ng-click="openPopoverSort.show($event)">{{selected.sort}}</a>
        </div>
    </ion-header-bar>
    <ion-content>

        <div class="content-list">
            <div class="list">
                <a class="item item-thumbnail-left" ng-repeat="item in typePros" ng-click="typeProDetails({{item.productid}})">
                    <img src="{{item.showpic}}">
                    <p class="weui_media_title product-buttom">
                        <span class="product-show-title">{{item.productname}}</span>
                    </p>
                    <p class="weui_media_desc product-buttom">
                        <span class="product-show-price">￥<font>{{item.productprice}}</font></span>
                        <span class="product-show-discount">门市价:￥{{item.productmarket}}</span>
                    </p>
                    <p>
                            <span class="product-show-sales">已售{{item.productbuynum}}</span>
                            <span class="product-show-scan">已浏览{{item.productwain}}</span>
                    </p>
                </a>
            </div>
        </div>
        <ul ng-if="typePros.length == 0 && !searchParams.moreDataCanBeLoaded" class="ws-pdlist-all-res">
            <li class="ws-nothing">
                <i class="icon-ws-NGBQ" style="font-size: 30px;"></i>
                <br />
                <p>哦~没有找到相关商品</p>
            </li>
        </ul>
        <fieldset ng-if="!searchParams.moreDataCanBeLoaded && typePros.length" class="line"><legend align="center">&nbsp;&nbsp;我是有底线的&nbsp;&nbsp;</legend></fieldset>
        <ion-infinite-scroll ng-if="searchParams.moreDataCanBeLoaded && searchParams.allowLoad" on-infinite="loadTypePro(searchParams.allowLoad)" distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
